<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>getAjax</servlet-name>
        <servlet-class>getAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAjax</servlet-name>
        <url-pattern>/getAjax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkName</servlet-name>
        <servlet-class>checkName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkName</servlet-name>
        <url-pattern>/checkName</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getMap</servlet-name>
        <servlet-class>getMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getMap</servlet-name>
        <url-pattern>/getMap</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>getmap.jsp</welcome-file>
    </welcome-file-list>
</web-app>